:root {
    --primary-color: #54abbc;
    --primary-alt-color: #2692ab;
    --secondary-color: #263f54;
    --tertiary-color: #ecec6f;

    --fourth-bg: #71c6a2;
    --fifth-bg: #7eb4c4;

    --sm-font: 12px;
    --md-font: 20px;
    --lg-font:22px;
    --xl-font:28px;
}
.size-1 {
    position: absolute;
    top: 40px;  /* Random value within 100px height */
    left: 200px; /* Random value within 2200px width */
    height: 25px;
    width: 25px;
    opacity: 0.8; /* Random opacity */
}

.size-2 {
    position: absolute;
    top: 80px;  /* Random value within 100px height */
    left: 600px; /* Random value within 2200px width */
    height: 20px;
    width: 20px;
    opacity: 0.5; /* Random opacity */
}

.size-3 {
    position: absolute;
    top: 10px;  /* Random value within 100px height */
    left: 1200px; /* Random value within 2200px width */
    height: 30px;
    width: 30px;
    opacity: 0.9; /* Random opacity */
}

.size-4 {
    position: absolute;
    top: 60px;  /* Random value within 100px height */
    left: 1800px; /* Random value within 2200px width */
    height: 15px;
    width: 15px;
    opacity: 0.4; /* Random opacity */
}

.size-5 {
    position: absolute;
    top: 20px;   /* Random value within 100px height */
    left: 300px; /* Random value within 2200px width */
    height: 25px;
    width: 25px;
    opacity: 0.7; /* Random opacity */
}

.size-6 {
    position: absolute;
    top: 90px;  /* Random value within 100px height */
    left: 1500px; /* Random value within 2200px width */
    height: 30px;
    width: 30px;
    opacity: 0.6; /* Random opacity */
}

.size-7 {
    position: absolute;
    top: 70px;   /* Random value within 100px height */
    left: 500px; /* Random value within 2200px width */
    height: 35px;
    width: 35px;
    opacity: 0.85; /* Random opacity */
}

.size-8 {
    position: absolute;
    top: 30px;   /* Random value within 100px height */
    left: 1700px; /* Random value within 2200px width */
    height: 20px;
    width: 20px;
    opacity: 0.6; /* Random opacity */
}

.size-9 {
    position: absolute;
    top: 10px;   /* Random value within 100px height */
    left: 900px; /* Random value within 2200px width */
    height: 40px;
    width: 40px;
    opacity: 0.7; /* Random opacity */
}

.size-10 {
    position: absolute;
    top: 50px;   /* Random value within 100px height */
    left: 1300px; /* Random value within 2200px width */
    height: 15px;
    width: 15px;
    opacity: 0.5; /* Random opacity */
}

.size-11 {
    position: absolute;
    top: 90px;   /* Random value within 100px height */
    left: 400px; /* Random value within 2200px width */
    height: 25px;
    width: 25px;
    opacity: 0.75; /* Random opacity */
}

.size-12 {
    position: absolute;
    top: 20px;   /* Random value within 100px height */
    left: 2000px; /* Random value within 2200px width */
    height: 30px;
    width: 30px;
    opacity: 0.4; /* Random opacity */
}


.backdrop-stars-short {
    position: absolute;
    height: 20%;
    width: 100%;
    /* border:1px solid red; */
    margin-top:70px
}

.backdrop-stars {
    position: absolute;
    height: 100%;
    width: 100%;
    /* border:1px solid red; */
    margin-top:70px
}

.standard-text {
    color:white;
    font-size: var(--md-font);
    font-weight: 500;
}

nav {
    /* border:1px solid red; */
    position: absolute;
    top:0;
    left:0;
    height: 180px;
    width: 100%;
    background-color: var(--secondary-color);
}

nav ul, ol {
    margin: 0;          
    padding: 0;        
    list-style: none;   
}

nav li {
    margin: 0;         
    padding: 0;        
}

li a {
    color: var(--tertiary-color);
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    padding: 3px 10px;
    padding-bottom: 5px;
    border: 3px solid var(--tertiary-color);
    transition: .5s ease;
}

li a:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    transition: .5s ease;
}

.promo_container {
    /* border:1px solid red; */
    width: 200px;
    background-image: url(../assets/manips.png);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    transition: .3s ease;
}

.promo_container:hover {
    filter: brightness(.8);
    transition: .5s ease;
}

section {
    height: 120vh;
    width: 100%;
    background-color: var(--primary-color);
}

.second-section {
    height: 70vh;
    background-color: var(--fourth-bg);
}

.third-section {
    height: 70vh;
    background-color: var(--fifth-bg);
}

.container-custom {
    width: 1690px;
}

.container-smmm {
    width: 1000px;
}

.quiz-container {
    height: 680px!important;
    width: 680px!important;
    border: 3px solid white;
    border-radius: 20px ;
    background-color: var(--primary-alt-color);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

.quiz-container__header {
    background-color: var(--secondary-color);
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.quiz-container__body a {
    position: relative;
    z-index: 100;
}

.quiz-container__header img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    overflow: hidden;
}

.quiz-selection {
    height: 250px;
    width: 250px;
    /* border: 1px solid red; */
    border-radius: 20px;
    overflow: hidden;
}

.quiz-selection img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.quiz-contsss {
    height: 350vh;
}

.submit-btn {
    font-size: var(--lg-font);
}

.btn {
    position: relative;
    z-index: 100;
}

.question {
    font-size: var(--lg-font);
    font-weight: 500;
    color: var(--tertiary-color)
}

.choices {
    font-size: var(--md-font);
    color:white;
}

.mt-10 {
    margin-top: 120px;
}

.game-card {
    min-height: 300px;
    min-width: 350px;
    max-width: 400px;
    background-color: var(--primary-alt-color);
}

.game-card-sm {
    min-height: 300px;
    max-width: 322px;
    background-color: var(--primary-alt-color);
}

.img-container {
    width: 100%;
    height: 250px;
    padding:3px
}

.img-container img, .topic-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.topic-card {
    height: 350px;
    width: 250px;
    border-radius: 20px;
    /* padding:20px; */
    /* border:1px solid red; */
}

.featured-lessons a {
    position: relative;
    z-index: 100;
    text-decoration: none;
    color: var(--tertiary-color)
}

.title-card {
    font-size: var(--xl-font);
    font-weight: 700;
    color:white;
    text-align: center;
    margin-bottom: 15px;
}

.smaller {
    height: 250px !important;
    width: 170px !important;
}

.teaser-card {
    /* border:1px solid red; */
    height: 300px;
    width: 300px;
}

.teaser-card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.teaser-card .teaser-title {
    font-size: var(--xl-font);
    font-weight: 500;
    color: var(--tertiary-color)
}

footer {
    height: 30vh;
    background-color: var(--secondary-color);
    width: 100%;
    color: var(--primary-color);
    font-weight: 500;
}

.nav-item {
    font-size: var(--md-font);
    font-weight: 700;
}

.canvas-container {
    position: absolute;
    top:150px;
    overflow: hidden;
    background-color: transparent;
}
.canvas-container-2 {
    /* border: 1px solid red; */
    margin-top: -40px;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}

.featured-lessons {
    color:var(--tertiary-color);
    font-size: var(--md-font);
    font-weight: 500;
}

.carousel-container {
    /* border: 1px solid red; */
    height: 700px !important;
    width: 700px !important;
}